extends partials/head

block vars
    -var bodyId = 'registerPage'

block content
    -selectNav = 'register'
    -var err = locals.err || [];
    -var user = locals.user || {};

    include partials/header
    .container
        each val in err
            .flash= val
        form(action="/register" method='post')
            //- input(type="text" placeholder='Username' name='username' value=user.username)
            input(type="text" placeholder='First Name' name='firstName' value=user.firstName)
            input(type="text" placeholder='Last Name' name='lastName' value=user.lastName)
            input(type="email" placeholder='Email' name='email' value=user.email)
            input(type="password" placeholder='Password' name='password')
            html 
                head
                    title
                    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
                    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
                    script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
                    //script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
                    //link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous')
                    //script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa' crossorigin='anonymous')
                body
                    td
                    label
                        input#tick(type="checkbox" value='tutor' name='tutor' checked=user.tutor onchange="getElementById('class').disabled = !this.checked;")
                        span Tutor
                    td   
                    button.btn.btn-primary#class.btn.btn1(type='button' data-toggle='modal' data-target='#modalPassword' disabled='disabled') Select Subjects
                    div(id='modalPassword', class='modal fade', tabindex='-1', role='dialog')
                        .modal-dialog
                            .modal-content
                                .modal-header
                                    h2(class='modal-title') Subjects                    
                                    .subjects
                                        - if (subjects)
                                            each k,v in subjects
                                                label
                                                    input(type="checkbox" name='subjects' value=v checked= (user.subjects||[]).includes(v))
                                                    = k
                                button(type='button', class='close', data-dismiss='modal') Close
                                     
                input(type="submit" value='Register')
            script(src='/javascripts/loginPageCtrl.js')
    
