extends partials/head

block vars
    -var bodyId = 'registerPage'

block content
    -selectNav = 'register'
    -var err = locals.err || [];
    -var user = locals.user || {};

    include partials/header
    .container
        each val in err
            .flash= val
        form(action="/register" method='post')
            //- input(type="text" placeholder='Username' name='username' value=user.username)
            input(type="text" placeholder='First Name' name='firstName' value=user.firstName)
            input(type="text" placeholder='Last Name' name='lastName' value=user.lastName)
            input(type="email" placeholder='Email' name='email' value=user.email)
            input(type="password" placeholder='Password' name='password')
            html 
                head
                    title
                    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
                    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
                    //script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
                    //script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js')
                    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
                    script(type='text/javascript', src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
                body
                    label
                        input#check(type="checkbox" value='tutor' name='tutor' checked=user.tutor) 
                        span Tutor
                        //#nxtbutton //#next-container
                        
                    a.btn.btn-info#btncheck.button(href='#', data-toggle='modal', role='button', type='submit', name='anmelden', value='Send', data-target='#modalPassword') Select Subjects (Tutors)
                    div(id='modalPassword', class='modal fade', tabindex='-1', role='dialog')
                        div(class='modal-dialog')
                            div(class='modal-content')
                                div(class='modal-header')
                                    h2(class='modal-title') Subjects                    
                                    .subjects
                                        - if (subjects)
                                            each k,v in subjects
                                                label
                                                    input(type="checkbox" name='subjects' value=v checked= (user.subjects||[]).includes(v))
                                                    = k                                
                                    button(type='button', class='close', data-dismiss='modal') Close
                    
                input(type="submit" value='Register')
            script(src='/javascripts/loginPageCtrl.js')
    
